<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="'../tags/head'::head"/>
    <body>
        <header th:replace="'../tags/header'::header"/>

        <main role="main">
            <section>
                <div class="container mb-4">
                    <div class="row">
                        <div class="col-12">
                            <h1>Опубликовать пост</h1>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form th:action="${action}" method="post">
                                <div class="mb-2">
                                    <input type="text" th:name="title" th:value="${post.title} != null ? ${post.title} : ''"
                                           placeholder="Название статьи" class="form-control" required="required">
                                </div>
                                <div class="mb-2">
                                    <textarea th:name="anons" th:utext="${post.anons} != null ? ${post.anons} : ''" placeholder="Аннонс статьи"
                                              class="form-control" th:maxlength="50" required="required"></textarea>
                                </div>
                                <div class="mb-2">
                                    <textarea th:name="article" th:utext="${post.article} != null ? ${post.article} : ''"
                                              placeholder="Материал статьи" style="margin-top: 0;margin-bottom: 0;height: 500px;"
                                              class="form-control" th:height="1000" required="required"></textarea>
                                </div>
                                <button class="btn btn-primary">Опубликовать</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer th:replace="'../tags/footer'::footer"/>
        <scripts th:replace="'../tags/scripts'::scripts"/>
    </body>
</html>