<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="'../tags/head'::head"/>
    <body>
        <header th:replace="'../tags/header'::header"/>

        <!--/*@thymesVar id="post" type="com.sitespring.blog.models.Post"*/-->
        <main role="main">
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="justify-content-end nav">
                                <a th:href="'/blog/'+${post.id}+'/edit'" class="btn btn-outline-primary mr-5">Редактировать</a>
                                <a th:href="'/blog/'+${post.id}+'/remove'" class="btn btn-outline-danger">Удалить</a>
                            </div>
                        </div>
                    </div>
                    <div class="align-items-center mb-4 row">
                        <div class="col-10">
                            <h1 th:text="${post.title}"/>
                        </div>
                        <div class="col-2">
                            <div class="text-black-50">Просмотренно: <span th:text="${post.views}"/></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div th:utext="${#strings.replace( #strings.escapeXml(post.article),T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer th:replace="'../tags/footer'::footer"/>
        <scripts th:replace="'../tags/scripts'::scripts"/>
    </body>
</html>